.keylogger {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}

.keylogger span {
  margin: auto;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
